[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
jupyter = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
